<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>

    <h1 class="title is-1 has-text-centered">RENT A CAR </h1>
    <div class="tabs is-centered">
        <ul>
          <li class="is-active"><a class="is-size-4">Users</a></li>
          <li><a class="is-size-4">Sign up</a></li>
          <li><a class="is-size-4">Reservation</a></li>
          <li><a class="is-size-4" href="/cars/createCarForm">Add car</a></li>
        </ul>
    </div>
    
    <div class="container">

        <table class="table is-bordered is-fullwidth">
            <thead>
                <tr>
                    <th class="has-text-centered is-size-4">ID</th>
                    <th class="has-text-centered is-size-4">Brand</th>
                    <th class="has-text-centered is-size-4">Model</th>
                    <th class="has-text-centered is-size-4">Year</th>
                    <th class="has-text-centered is-size-4">KMS</th>
                    <th class="has-text-centered is-size-4">Color</th>
                    <th class="has-text-centered is-size-4">Air Conditioner</th>
                    <th class="has-text-centered is-size-4">Passengers</th>
                    <th class="has-text-centered is-size-4">Type</th>
                    <th class="has-text-centered is-size-4">Image</th>
                    <th class="has-text-centered is-size-4">Manage</th>
                    

                </tr>
            </thead>
            <tbody>
              {% block tableBody %} {% endblock %}
                <!--
                    asi irian las filas, les tengo que pasar la info  con nunjucks
                <tr>
                    <td class="has-text-centered is-size-5">{</td>
                    <td>1</td>  
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>

                </tr>
            -->
            </tbody>
        </table>
    </div>

  </body>
  
</html>