<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>

    <div class="icon-team">
        <a href="/"><i class="fa-solid fa-house"></i></a>
    </div>
    <h1 class="title is-1 has-text-centered mb-6">RENT A CAR</h1>
<!--enctype="multipart/form-data"-->
    <div class="container">
        <form  action="/users/createUserForm" method="POST" >
            
            <div class="row">
                <div class="columns">
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">FIRST NAME</label>
                            <div class="control">
                              <input class="input" type="text" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">LAST NAME</label>
                            <div class="control">
                              <input class="input" type="text" name="surname">
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">PHONE</label>
                            <div class="control">
                              <input class="input" type="number" name="phone">
                            </div>
                        </div>
                    </div>  
                </div>    
            </div>       

            <div class="row">   
                <div class="columns">
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">EMAIL</label>
                            <div class="control">
                              <input class="input" type="text" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">NACIONALITY</label>
                            <div class="control">
                              <input class="input" type="text" name="nacionality">
                            </div>
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="field">
                            <label class="label">BIRTH DATE</label>
                            <div class="control">
                              <input class="input" type="date" name="birthDate">
                            </div>
                        </div>
                    </div>   
                </div>
            </div>

            <div class="row">   
                <div class="columns">
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">DOCUMENT TYPE</label>
                            <div class="control">
                              <input class="input" type="text" name="documentType">
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">DOCUMENT NUMBER</label>
                            <div class="control">
                              <input class="input" type="number" name="documentNumber">
                            </div>
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="field">
                            <label class="label">ADDRESS</label>
                            <div class="control">
                              <input class="input" type="text" name="address">
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="is-flex is-justify-content-center ">
                <button class="button is-link mt-6">Submit</button>
            </div>

        </form> 
    </div>
</body>
</html>