{% extends "./users.html" %} 

    {% block tableBody %} 
        {% for user in usersData %}
            <tr>
                <td class="has-text-centered is-size-5">{{user.id}}</td>
                <td class="has-text-centered is-size-5"> {% if user.name!=='' %} {{user.name}} {% else %} - {% endif %}</td>
                <td class="has-text-centered is-size-5"> {% if user.surname!=='' %} {{user.surname}} {% else %} - {% endif %}</td>  
                <td class="has-text-centered is-size-5"> {% if user.age!=='' %} {{user.age}} {% else %} - {% endif %}</td>
                <td class="has-text-centered is-size-5"> {% if user.phone!=='' %} {{user.phone}} {% else %} - {% endif %}</td>
                <td class="has-text-centered is-size-5"> {% if user.email!=='' %} {{user.email}} {% else %} - {% endif %}</td>
                <td class="has-text-centered is-size-5"> {% if user.document!=='' %} {{user.document}} {% else %} - {% endif %}</td>
                <td class="has-text-centered is-size-5"><a href='/users/editUserForm/{{user.id}}'>EDIT</a>-<a href="/users/deleteUser/{{user.id}}">DELETE</a></td>
            </tr>
        {% endfor %}
    {%endblock %}