{% extends "./rent.html" %} 

    {% block rents %} 
        
    {% if rentedCars!==undefined %}
      <tbody>
          {% for rent in rentedCars %}
            <tr>
                <td class="has-text-centered is-size-5">{{rent.id}}</td>
                <td class="has-text-centered is-size-5">

                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger  has-text-centered">
                          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span>View</span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                          <div class="dropdown-content">
                            <div class="dropdown-item">
                              <ol>
                                <li class="is-size-5">{{rent.brand}}</li>
                                <li class="is-size-5">{{rent.model}}</li>
                                <li class="is-size-5">{{rent.year}}</li>
                                <li class="is-size-5">{{rent.kms}}KMS</li>
                                <li class="is-size-5">{{rent.color}}</li>
                                <li class="is-size-5">{% if rent.ac==="Yes" %} AC {% else %} NO AC {% endif %}</li>
                                <li class="is-size-5">{{rent.passengers}} passengers</li>
                                <li class="is-size-5">{{rent.transmission}}</li>
                                <li class="is-size-5"><a href="{{rent.picture}}" target="blank">IMAGE</a></li>
                                <li class="is-size-5">$${{rent.pricePerDay}}</li>
                              </ol>
                            </div>
                          </div>
                        </div>
                    </div>
                
                </td>
                <td class="has-text-centered is-size-5">{{rent.name}} {{rent.surname}}</td>  
                <td class="has-text-centered is-size-5">{{rent.document}}</td>  
                <td class="has-text-centered is-size-5">{{rent.startDate}}</td>
                <td class="has-text-centered is-size-5">{{rent.finishDate}}</td>
                <td class="has-text-centered is-size-5">{{rent.totalDays * rent.pricePerDay}}</td>
                <td class="has-text-centered is-size-5"><a href='/rent/editRentForm/{{rent.id}}'>EDIT</a>-<a href="/rent/deleteRent/{{rent.id}}">DELETE</a></td>

            </tr>
          {% endfor %}
        </tbody>
    {% endif %}

    {% for error in errors %}
    <div class="notification is-primary">
            {{error}}
    </div>

    {% endfor %}
    
    {%endblock %}