{% extends "./rent.html" %} 

    {% block tableBody %} 
        
            <tr>
                <td class="has-text-centered is-size-5">{{rentedCars.id}}</td>
                <td class="has-text-centered is-size-5">{{rentedCars.brand}}</td>
                <td class="has-text-centered is-size-5">{{rentedCars.name}}</td>  
                <td class="has-text-centered is-size-5">{{rentedCars.startDate}}</td>
                <td class="has-text-centered is-size-5">{{rentedCars.finishDate}}</td>
                <td class="has-text-centered is-size-5">{{rentedCars.totalDays}}</td>
                <td class="has-text-centered is-size-5"><a href='/rent/{{rent.id}}/editRentForm'>EDIT</a>-<a href="/cars/deleteRent/{{rent.id}}">DELETE</a></td>

            </tr>
    {%endblock %}